.row{
    display: flex;
    background-color: white;
    align-items: center;
    width:100%;
    margin:10px
}

.col{
    flex:1;
    height:50px;
    color: white;
    background-color: mediumturquoise;
    text-align: center;
    margin-right:10px
}

.col2{
    flex:2;
    height:50px;
    color: white;
    background-color: mediumturquoise;
    text-align: center;
    margin-right:10px
}

.col3{
    flex:3;
    height:50px;
    color: white;
    background-color: mediumturquoise;
    text-align: center;
    margin-right:10px
}