a{
    color: royalblue;
}

h2{
    font-weight: bold;
}

.top-pic{
    width:100px;
    height:100px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left:20px
}

.card{
    border: 1px solid grey;
    width:600px;
}

.card-header{
    background-color: #00CED1;
    height:75px;
    width: 600px
}

.card-body{
    padding: 30px 15px 10px 15px
}

.card-footer{
    color: royalblue;
    font-weight: bold;
    font-style: normal;
    padding-left:10px;
    padding-bottom: 20px
}

.card-location{
    display:inline-flex;
    align-items: center;
    margin:0px;
    height:30px
}

.card-map-pin{
    height:15px;
    width:15px;
    margin-right:10px;
    border: none;

}

.card-body p{
    margin: 10px 0px 10px 0px
}

.card-footer i{
    font-style: normal;
}